<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlaygroundRxSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5416867E1D8254F8004ACD03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>541686921D8254F9004ACD03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5416869D1D8254F9004ACD03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
